* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Domine', serif;
    color: black;
    background-color: white;
}

/* Custom Button Overwrite */
.btn-custom_size {
   font-size: 20px;
   width: 90%;
   height: 90%;
}


.TheGrid {
    /* Grid Options*/
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: 100px repeat(2, auto);
}


.head {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
}
  
.paddingLeft {
    grid-column: 1/2;
    grid-row: 2/3;
}

.paddingRight {
    grid-column: 3/4;
    grid-row: 2/3;
}
    
.Cell {
    text-align: center;
}
.gameWrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    
    /* Grid Options*/
    text-align: center;
    display: grid;
    /* grid-template-columns: repeat(3, 200px);
    grid-template-rows: rep */eat(3, 200px);
}
    
    #00 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #01 {
        grid-column: 2/3;
        grid-row: 1/2; 
    }
    
    #02 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    #03 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    #10 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    #11 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    #12 {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    
    #13 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
    #20 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    #21 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    #22 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    
    #23 {
        grid-column: 4/5;
        grid-row: 3/4;
    }
    
    #30 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    #31 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    #32 {
        grid-column: 3/4;
        grid-row: 4/5;
    }
    
    #33 {
        grid-column: 4/5;
        grid-row: 4/5;
    }
    
    
    
.Btn {
    text-align: center;
    padding: 50px;
}
    
.foot {
    grid-column: 1/4;
    grid-row: 3/4;
    
    /* Grid Options*/
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1;
}
    
    .reset_button {
        grid-column: 1/2;
        grid-row: 1;
    }
    
    .playerChange {
        grid-column: 2/3;
        grid-row: 1;
    }
    
    .Advance {
       grid-column: 3/4;
       grid-row: 1; 
    }
    
    .Mode {
        grid-column: 4/5;
       grid-row: 1; 
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    