@font-face {
    font-family: "Brush";
    src: url("Brush&Wedco.otf");
    src: url("Brush&Wedco.otf") format("opentype"),
         url("Brush&Wedco.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    color: black;
    background-color: white;
}

/* unvisited link */
a:link {
  color: #ececec;
}

/* visited link */
a:visited {
  color: #ececec;
}

/* mouse over link */
a:hover {
  color: #ececec;
}

/* selected link */
a:active {
  color: #ececec;
}




/* Default black outlines */
.background {
    background-color: black;
    /* Grid Options*/
    display: grid;
    grid-template-columns: 1px 1fr 1px;
    grid-template-rows: 5px 1fr 1px;
}

.article {
    background-color: white;
    /* Grid Options*/
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    grid-template-rows: 15px 300px 640px 15px;
}

.art {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    word-wrap: break-word;
    padding: 10px;
    max-width: 350px;
    
    overflow: hidden;
    text-overflow: ellipsis;
}


.theGrid {
    /* Grid Options*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 50px 800px 1000px 200px 1000px 700px;
}

.titleBar {
    background-color: white;
    grid-column: 1;
    grid-row: 1/2;
    /* Grid Options*/
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr;
}

    .theTitle {
        font-family: "Brush";
        text-align: center;
        font-size: 40px;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 1;
    }

    .FormInput {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white; 
        color: black; 
        border: 1px solid grey;
        grid-column: 3/4;
        grid-row: 1;
    }
    
.buttonBar {
    background-color: green;
    grid-column: 1;
    grid-row: 2/3;
    /* Grid Options*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}


    .btn {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white; 
        color: black; 
        border: 1px solid black;
    }
    
    .btn:hover {
        background-color: #1B262C;
        color: white;
    }
    
    #b1 {
        grid-column: 1/2;
        grid-row: 1;
    }
    
    #b2 {
        grid-column: 2/3;
        grid-row: 1;
    }
    #b3 {
        grid-column: 3/4;
        grid-row: 1;
    }
    #b4 {
        grid-column: 4/5;
        grid-row: 1;
    }
    #b5 {
        grid-column: 5/6;
        grid-row: 1;
    }

.graphWrapper {
    background-color: white;
    grid-column: 1;
    grid-row: 3/4;
    /* Grid Options*/
    display: grid;
    grid-template-columns: 1fr 950px 10px 250px 1fr;
    grid-template-rows: 5vw 700px 1vw;
}

    .theGraph {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
        .graph {
            background-color: white;
            grid-column: 2/3;
            grid-row: 2/3;
            height: 100%;
            width: 100%;
            /* Grid Options*/
            display: grid;
            grid-template-columns: 10px 600px 10px;
            grid-template-rows: 10px 600px 10px;
        }
        
            #chart {
                padding: 20px;
                grid-column: 2/3;
                grid-row: 2/3;
            }
            
            #messageBoard {
                grid-column: 2/3;
                grid-row: 3/4;
            }
            
    .theStats {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
        .TopList {
            padding: 30px;
            background-color: white;
            grid-column: 2/3;
            grid-row: 2/3;
        }

.articleWrapper {
    background-color: white;
    grid-column: 1;
    grid-row: 4/5;
    /* Grid Options*/
    display: grid;
    grid-template-columns: 1fr 400px 10px 400px 10px 400px 1fr;
    grid-template-rows: 1vw 1fr 1vw;
}
    .art1 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
        .art1Conent {
            grid-column: 2/3;
            grid-row: 2/3;
        }
            .photo1 {
                background-color: white;
                grid-column: 2/3;
                grid-row: 2/3;
            }
            
            .artSynopsis1 {
                grid-column: 2/3;
                grid-row: 3/4;
            }
            
            
    .art2 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
        .art2Conent {
            grid-column: 2/3;
            grid-row: 2/3;
        }
            .photo2 {
                background-color: white;
                grid-column: 2/3;
                grid-row: 2/3;
            }
            
            .artSynopsis2 {
                grid-column: 2/3;
                grid-row: 3/4;
            }
        
    .art3 {
        grid-column: 6/7;
        grid-row: 2/3;
    }
        .art3Conent {
            grid-column: 2/3;
            grid-row: 2/3;
        }
            .photo3 {
                background-color: white;
                grid-column: 2/3;
                grid-row: 2/3;
            }
            
            .artSynopsis3 {
                grid-column: 2/3;
                grid-row: 3/4;
            }

    .artPhotos {
        max-width: 90%;
        max-height: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
.searchWrapper {
    background-color: white;
    grid-column: 1;
    grid-row: 5/6;
    /* Grid Options*/
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: 1vw 1fr 1vw;
}

    .Artsearch {
        grid-column: 2/3;
        grid-row: 2/3;
    }

        .searchContent {
            background-color: white;
            grid-column: 2/3;
            grid-row: 2/3;
            /* Grid Options*/
            display: grid;
            grid-template-columns: 10px 1fr 10px;
            grid-template-rows: 1vw 1fr 1fr 1vw;
        }
            .SearchTitle {
                grid-column: 2/4;
                grid-row: 2/3;
            }
            
            .searchLable {
                grid-column: 2/3;
                grid-row: 3/4;
            }


.MiddleDivide {
    font-family: 'Noto Serif', serif;
    font-size: 150px;
    text-align: center;
    background-color: white;
    margin: auto;
    grid-column: 1;
    grid-row: 6/7;
}

.bottomSection {
    grid-column: 1;
    grid-row: 7/8;
    
    /* Grid Options*/
    display: grid;\
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 55px;
}

    .rightExplination {
        padding: 20px;
        color: white;
        font-size: 30px;
        background-color: #1B262C;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .catPhotoHolder {
        text-align: center;
        background-color: #ececec;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .catPhoto {
        object-fit: cover;
        width: 99%;
        max-height: 90%;
    }
    
    .APIDescription {
        text-align: right;
        font-family: 'Roboto Slab', serif;
        color: #ececec;
        font-size: 13px;
        background-color: black;
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .bottomList {
        font-family: 'Roboto Slab', serif;
        padding: 20px;
        padding-top: 200px;
        color: white;
        font-size: 30px;
        background-color: #1B262C;
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    #catBtn {
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white; 
        color: black; 
        border: 2px solid #1B262C;
    }
    
    #catBtn:hover {
        background-color: #a6a6a6;
        color: white;
    }






